#attic_notice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1em;
    opacity: 0.95;
    background-color: #ff8f2c;
    color: #282828;
    font-family: sans-serif;
}
