BODY {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #FFFFFF;
    color: #000000;
    }
A:link {
    color: #336699;
    }
A:visited {
    color: #663399;
    }
H1, H2, H3, H4, H5, H6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #336699;
    }
UL {
    list-style: disc outside;
    }
.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    }
.caption {
    font-weight: bold;
    }
.code {
    font-family: Courier, monospace;
    white-space: pre;
    }
.indent {
    padding-left: 5%;
    }
.example {
    margin-left: 5%;
    margin-right: 25%;
    background-color: yellow;
    }
.ref {
    font-weight: bold;
    }
.subhead {
    font-style: italic;
    }
.sub {
    vertical-align: sub;
    font-size: xx-small;
    }
.super {
    vertical-align: super;
    font-size: xx-small;
    }
